@model IEnumerable<string>

<a class="btn btn-block btn-secondary"
    asp-action="List"
    asp-controller="Member"
    asp-route-pcp="">
    Home
</a>
@foreach (string pcp in Model)
{
    <a class="btn btn-block 
       @(pcp == ViewBag.SelectedPcp ? "btn-primary" :"btn-secondary" )"
        asp-action="List"
        asp-controller="Member"
        asp-route-pcp="@pcp"
        asp-route-memberPage="1">
        @pcp
    </a>
}